.container{
  display: grid;
  grid-template-rows: 30vh 70vh;
}
.container{
  .input{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.container {
  .input input{
    margin-top: 1rem;
      padding: 1rem;
      height: 49px;
      border-radius: 20px;
      width: 90%;
      border: 0.5px solid #B8B8B8;
      outline: none;
      color: #B8B8B8;
  }
}
.grafico canvas{
  width: 100%;
  height: 100%;
  background-color: rgb(51, 0, 255);

}
