<ion-header>
  <ion-toolbar>
    <ion-title>Histórico</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="input">
      <input type="text" placeholder="Pesquisar nome" />
    </div>

    <div class="tabela">
    <table>
        <tr>
    <th>Nome</th>
    <th>Data</th>
    <th>Serviços</th>
  </tr>
  <tr>
    <td>João</td>
    <td>05/05/2022  07:00</td>
    <td><a href="#">visualizar </a></td>
  </tr>
  <tr>
    <td>Pedro Oliveira</td>
    <td>05/05/2022 07:45</td>
    <td><a href="#">visualizar </a></td>
  </tr>
  <tr>
    <td>Guilherme</td>
    <td>05/05/2022 08:30</td>
    <td><a href="#">visualizar </a></td>
  </tr>
  <tr>
    <td>Flávio</td>
    <td>05/05/2022 09:15</td>
    <td><a href="#">visualizar </a></td>
  </tr>
  <tr>
    <td>Antônio</td>
    <td>05/05/2022 10:00</td>
    <td><a href="#">visualizar </a></td>
  </tr>

</table>
</div>

  </div>


</ion-content>
